{% extends "layout.html" %}
{% block content %}
<form method="POST" enctype="multipart/form-data">
  <input type="hidden" name="_METHOD" value="PUT"/>
  <div class="left">
    <label>Titel</label><input type="text" name="title" value="{{ r.title }}" />
    <br />
    <label>Untertitel</label><input type="text" name="subtitle" value="{{ r.subtitle }}" />
    <br />
    <label>Autoren</label><input type="text" name="authors" value="{{ r.authors }}" />
    <br />
    <label>Text</label><textarea name="text" rows="28" cols="80">{{ r.text }}</textarea>
    <br />
    <label>E-Mail</label><input type="text" name="email" value="{{ r.email }}" />
  </div>
  <div class="right">
    <img src="data:image/png;base64,{{ image }}" max-height="500" width="100%"/>
    <br />
    <input type="file" name="image" />
  </div>
  <div class="full">
    <button type="submit">save</button>
    <a href="/recipes/?active={{ r.id }}" class="action cancel">cancel</a>
  </div>
</form>
{% endblock %}
