{% extends "layout.html" %}
{% block content %}
<script>
  function confirmDelete(id) {
    if (confirm('Wirklich löschen?')) {
      $form = document.getElementById('deleteForm');
      $form.action = '/recipes/' + id;
      $form.submit();
    }
  }
</script>
<form id="deleteForm" method="POST">
  <input type="hidden" name="_METHOD" value="DELETE">
</form>

<table cellspacing="0" cellpadding="0">
  <colspan>
    <col width="5%">
    <col>
    <col>
    <col>
    <col>
    <col>
    <col>
  </colspan>
  <tbody>
    <tr>
      <th>Nr</th>
      <th>Rezept</th>
      <th>Chef der Küche</th>
      <th>Kategorie</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    {% for r in recipes %}
    <tr {% if activeId == r.id %}class="active"{% endif %}>
        <td>{{ r.position+1 }}</td>
        <td>{{ r.title }}</td>
        <td title="{{ r.authors }} <{{ r.email }}>">{{ r.chef }}</td>
        <td>{{ r.category }}</td>
        <td><a href="/recipes/{{ r.id }}" class="action entypo-pencil" title="bearbeiten"></a></td>
        <td><a href="javascript:confirmDelete({{ r.id }});" class="action entypo-erase" title="löschen"></a></td>
        <td>
            {% if not loop.first %}
              <a href="/recipes/?id={{ r.id }}&pos={{ r.position-1 }}" class="action entypo-up" title="nach oben"></a>
            {% endif %}
            {% if not loop.last %}
              <a href="/recipes/?id={{ r.id }}&pos={{ r.position+1 }}" class="action entypo-down" title="nach unten"></a>
            {% endif %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
  <tfoot>
    <tr>
      <td colspan="6" style="text-align: right;">
        Anzahl: {{ itemCount }}
      </td>
    </tr>
  </tfoot>
</table>
{% endblock %}
